.tupuk-admin-page-container #tupuk-sample-widget-container{
	display:block;
}

.tupuk-blog-page-container #tupuk-sample-widget-container{
	display:none;
	width: 100%;
	height: 100%;
	background: url(images/transpbg.png) repeat top left;
	top:0px;
	position: fixed;
}

.tupuk-highlight{
	border:2px solid red;
}

.yeloni-popup-page-container /*this spans the whole viewport and will have a darker bg */
{
	/*width: 100%;
	height: 100%;*/
	z-index:999;
}


/* ========================== container styles ======================================= */
.yeloni-popup-block-container
{
	width: 400px;
	height: 300px;
	position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
	background-color: white;
	margin-top: 10%;
	-webkit-box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.24);
	-moz-box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.24);
	box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.24);
}
.yeloni-popup-block-container-pageSider
{
	width: 50%;
	height: 100%;
	background-color: white;
	-webkit-box-shadow: 3px 0px 4px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 0px 4px -1px rgba(0,0,0,0.75);
	box-shadow: 3px 0px 4px -1px rgba(0,0,0,0.75);
}
/* ========================== container styles end ==================================== */
.yeloni-close-button
{
	float:right;
	display:block;
	padding: 5px 10px;
	font-family: calibri;
	font-size:24px;
	line-height: 24px;
	color: #ccc;
}
.yeloni-close-button:hover
{
	color: black;
	cursor: pointer;
}



@media only screen and (min-width: 768px) {
    /* tablets and desktop */
}

@media only screen and (max-width: 767px) {
    /* phones */
    .yeloni-popup-block-container-pageSider
	{
		width: 90%;
		height: 100%;
		background-color: white;
		-webkit-box-shadow: 3px 0px 4px -1px rgba(0,0,0,0.75);
		-moz-box-shadow: 3px 0px 4px -1px rgba(0,0,0,0.75);
		box-shadow: 3px 0px 4px -1px rgba(0,0,0,0.75);
	}
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    /* portrait phones */
}


@media only screen and (max-width : 360px){
	/* phones potrait */

    .yeloni-popup-block-container-pageSider
	{
		width: 100%;
		height: 100%;
		background-color: white;
	}
	.yeloni-close-button
	{
		font-family: calibri;
		font-size:24px;
		height: 50px;
		line-height: 50px;
		color: #ccc;
		width: 100%;
		float: none;
		text-align: center;
		border: none !important;
		padding: 0px;

	}
}